{% extends 'base_app.html' %}

{% block title %}Importar NFe XML | Mãos na Obra{% endblock %}
{% block page_title %}Importar NFe XML{% endblock %}

{% block content %}
<div class="card stretch stretch-full">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3"><label class="form-label">Obra</label>{{ form.project }}</div>
                <div class="col-md-6 mb-3"><label class="form-label">Arquivo XML</label>{{ form.xml_file }}</div>
            </div>
            <button type="submit" class="btn btn-primary">Importar XML</button>
        </form>
    </div>
</div>
{% endblock %}
